<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lei123.YSPocketTools">

    <queries>
        <package android:name="org.zky.genshinwidgets" />
        <package android:name="com.miHoYo.Yuanshen" />
        <package android:name="com.mihoyo.hyperion" />
        <package android:name="com.miHoYo.cloudgames.ys" />
        <package android:name="com.miHoYo.ys.bilibili" />
        <package android:name="com.miHoYo.GenshinImpact" />
    </queries>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.NOTIFICATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name="com.lei123.AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:excludeFromRecents="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_resin_app"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.YSPocketTools"
        tools:targetApi="31">
        <service
            android:name=".ui.Notification.NotificationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.BaseService"
            android:enabled="true"
            android:exported="true" />
        <!-- 桌面小部件 -->
        <service
            android:name=".ui.widgets.widgetsService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- 不显示activity；无界面 -->
        <!-- android:theme="@android:style/Theme.NoDisplay" -->
        <!-- 不显示任务；一键清理时看不到进程 -->
        <!-- android:excludeFromRecents="true" -->
        <!--android:name=".MainActivity"-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.YSPocketTools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:exported="false"
            android:theme="@style/Theme.YSPocketTools" />
        <activity
            android:name=".ui.widgets.WakeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.YSPocketTools" />
        <activity
            android:name=".ui.widgets.widgetSettingActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.YSPocketTools" />
        <activity
            android:name=".ui.widgets.widgetSettingSimpleActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.YSPocketTools" />
        <activity
            android:name=".webview.WebLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.YSPocketTools" />
        <activity
            android:name=".activity.WakeupAppActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="android.appwidget.provider"
            android:resource="@xml/glance_widget_info_4_2_complex" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lei123.YSPocketTools.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver4_2_complex"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_4_2_complex" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver4_2_complex_horizontal"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_4_2_complex_horizontal" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver2_2_simple"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_2_2_simple" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver_gif_hutaoao"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_gif_hutaoao" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver_gif_nilue"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_gif_nilue" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver2_2_simple_inter"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_2_2_simple_inter" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver2_2_complex"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_2_2_complex" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver2_2_transparency"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!-- 小部件配置信息 -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_2_2_trans" />
        </receiver>

        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver4_1_transparency"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_4_1_trans" />
        </receiver>
        <receiver
            android:name=".ui.widgets.GlanceWidgetReceiver4_2_transparency"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/glance_widget_info_4_2_trans" />
        </receiver>
    </application>

</manifest>